/* Header */
.home__header {
    text-align: center;
}

.home__header__img--logo {
    margin: 0 auto 30px;
    width: 180px;

}

.home__header__img--logo img {
    width: 100%;
    border-radius: 50%;
    border: solid 2px var(--colorGris);
}

.home__header__a--bars {
    background-color: var(--colorGrisOscuro);
    margin: 0 auto 30px;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    border-radius: 5px;
}

.home__header__nav--menu ul li {
    background-color: var(--colorGrisOscuro);
    width: 100%;
    margin-bottom: 1px;
    font-size: 1.2rem;
    padding: 5px;
}

.home__header__nav--menu ul li:last-child {
    margin-bottom: 0;
}

/* Main */

.home__main__section--banner {
    display: none;
}

.home__main__section--products {
    margin-top: 30px;
}

.home__main__section__article--image--container {
    position: relative;
    margin-bottom: 30px;
}

.home__main__section__article--image {
    width: 100%;
}

.home__main__section__article--sticker {
    position: absolute;
    top: 0;
    right: 10px;
}

.home__main__section__article--image--container a {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

.home__main__section__article--title {
    margin: 20px 0;
    font-size: 1.2rem;
}

.home__main__section__article--description {
    color: var(--colorGris);
}

.home__main__section__article--button {
    display: inline-block;
    padding: 10px;
    margin: 20px 0;
    background-color: var(--colorGrisOscuro);
}

/* Footer */

.home__footer__nav--menu ul li {
    background-color: var(--colorRojo);
    width: 100%;
    margin-bottom: 1px;
    font-size: 1.2rem;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.home__footer__nav--menu ul li:last-child {
    margin-bottom: 0;
}

@media (min-width:768px) {

    /* Header */

    .home__header__a--bars {
        display: none;
    }

    .home__header__nav--menu ul li {
        width: 15%;
        margin-bottom: 20px;
        margin-right: 2%;
        font-size: 0.9rem;
        float: left;
    }

    .home__header__nav--menu ul li:last-child {
        margin-right: 0;
    }

    /* Main */

    .home__main__section--banner {
        display: block;
    }

    .home__main__section--banner img {
        width: 100%;
    }

    .home__main__section--products {
        overflow: hidden;
    }

    .home__main__section__article {
        width: 49%;
        float: left;
        margin-right: 2%;
    }

    .home__main__section__article:nth-child(even) {
        margin-right: 0;
    }
}

@media (min-width:1024px) {


    /* Header */

    .home__header__nav--menu ul li {
        font-size: 1rem;
        height: 50px;
        padding: 15px;
    }

    /* Main */

    .home__main__section__article {
        width: 32%;

    }

    .home__main__section__article:nth-child(even) {
        margin-right: 2%;
    }

    .home__main__section__article:nth-child(3n) {
        margin-right: 0;
    }

    /* Footer */

    .home__footer {
        background-color: var(--colorRojo);
        text-align: center;
        padding: 60px 0;
        border-radius: 30px 30px 0 0;
    }

    .home__footer__nav--menu ul li {
        width: 100%;
        margin-bottom: 0;
        padding: 0 10px;
        display: inline;
        text-transform: capitalize;
        border-right: solid 1px #ffffff;

    }
    .home__footer__nav--menu ul li:last-child {
        border-right: none
    }
}